<!-- {{#each model as |product1|}}

  <h3><button {{action "createProduct"}}>{{product1.length}}</button></h3>

{{/each}} -->

<div>
  <button {{action 'save'}}>Save</button>
  <button {{action 'cancel'}}>Cancel</button>
</div>
